<h1> Item Detail: </h1>

<ul>
	<li><%=@grocery.item%></li>
	<li><%=@grocery.quantity%></li>
	<li><%=@grocery.price%></li>
	<li><%=@grocery.description%></li>
</ul>

<%= link_to "Back To Grocery List",groceries_path%>
